<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/search.js"></script>
    <script type="text/javascript" src="../static/scripts/api_status.js"></script>
    <script type="text/javascript" src="../static/scripts/display_results.js"></script>
    <title>Rent-a-Bike</title>
    <link href="{{ url_for('static', filename='styles/header.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/filters.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/bikes.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/icon.png') }}" rel="icon">
</head>

<body>

  <header>
    <div id="api_status"></div>
  </header>
  <header>
      <a href="index.html"><div class="logo"></div></a>
    </header>
    <div class="container">
        <section class="filters">
            <button type="button">Search</button>
            <div class="locations">
                <h3>Select a City</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    {% for city in cities|sort(attribute='name') %}
                    <li><input type="checkbox", data-id={{ city.id  }},
                      data-name={{ city.name  }}>{{ city.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="categories">
                <h3>Categories of Bikes</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    {% for cat in cats|sort(attribute='name') %}
                    <li><input type="checkbox", id="cats", data-id={{ cat.id  }},
                      data-name={{ cat.name  }}>{{ cat.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="bikes">
            <div class="bikes_title">
              <h1>Results: {{ bikes|length }}</h1>
            </div>
        </section>
    </div>
    <footer>
      By <a href="http://l33.io/">Lee Gaines</a>
    </footer>
</body>
</html>
