footer {
    background-color: white;
    height: 40px;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    position: fixed;
    bottom: 0;
    text-align: right;
    line-height: 40px;
}

footer a {
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 5px;
}
